*{
    word-break: break-word !important;
    scrollbar-color: var(--v-scroll-base) var(--v-scrollback-base)!important;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--v-scroll-base);
    border-radius: 5px;
}
.v-application--wrap{
    height: 100%;
}

.title--1 {
    font-size: 1.5rem;
    font-weight: bold;
}
.title--2 {
    font-size: 1.3rem;
    font-weight: bold;
}
.background {
    background-color: var(--v-background-base);
}
.cell {
    background-color: var(--v-cell-base);
}
.cell2 {
    background-color: var(--v-cell2-base);
}
.cell3 {
    background-color: var(--v-cell3-base);
}
.m-0 {
    margin: 0 !important;
}
.p-0 {
    margin: 0 !important;
}
.capitalize {
    text-transform: capitalize !important;
}
.v-snack__content {
    font-size: 1.1rem;
}
.pointer {
    cursor: pointer;
}
.theme--light.v-application, .theme--dark.v-application {
    background: none !important;
  }